.container {
    width: 100%;
    height: 100%;
}

.connectors {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    stroke: #ffffff;
}

.nodes {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}